submodule/admin-func/src/main/resources/wsdl/ldapImmdUserServiceExtWS_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LDAPImmdUserServiceExtWS" targetNamespace="http://immd.upms.ws/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://immd.upms.ws/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://immd.itifwk.util/v1">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://immd.upms.ws/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="changePassword" type="tns:changePassword"/>
      <xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>
      <xs:element name="forceLogout" type="tns:forceLogout"/>
      <xs:element name="forceLogoutResponse" type="tns:forceLogoutResponse"/>
      <xs:element name="getCurrentlySignOnUserByLocId" type="tns:getCurrentlySignOnUserByLocId"/>
      <xs:element name="getCurrentlySignOnUserByLocIdBySysId" type="tns:getCurrentlySignOnUserByLocIdBySysId"/>
      <xs:element name="getCurrentlySignOnUserByLocIdBySysIdResponse" type="tns:getCurrentlySignOnUserByLocIdBySysIdResponse"/>
      <xs:element name="getCurrentlySignOnUserByLocIdResponse" type="tns:getCurrentlySignOnUserByLocIdResponse"/>
      <xs:element name="getUserListByRoleCdAndLocId" type="tns:getUserListByRoleCdAndLocId"/>
      <xs:element name="getUserListByRoleCdAndLocIdResponse" type="tns:getUserListByRoleCdAndLocIdResponse"/>
      <xs:element name="invalidUserLogin" type="tns:invalidUserLogin"/>
      <xs:element name="invalidUserLoginResponse" type="tns:invalidUserLoginResponse"/>
      <xs:element name="setSessionExpiry" type="tns:setSessionExpiry"/>
      <xs:element name="setSessionExpiryResponse" type="tns:setSessionExpiryResponse"/>
      <xs:element name="userAuthenticate" type="tns:userAuthenticate"/>
      <xs:element name="userAuthenticateResponse" type="tns:userAuthenticateResponse"/>
      <xs:element name="userDetailEnquiry" type="tns:userDetailEnquiry"/>
      <xs:element name="userDetailEnquiryResponse" type="tns:userDetailEnquiryResponse"/>
      <xs:element name="validateImmdToken" type="tns:validateImmdToken"/>
      <xs:element name="validateImmdTokenResponse" type="tns:validateImmdTokenResponse"/>
      <xs:complexType name="validateImmdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="immdToken" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateImmdTokenResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="changePassword">
        <xs:sequence>
          <xs:element minOccurs="0" name="userID" type="xs:string"/>
          <xs:element minOccurs="0" name="hashedCurrentPassword" type="xs:string"/>
          <xs:element minOccurs="0" name="hashedNewPassword" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changePasswordResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="userAuthenticate">
        <xs:sequence>
          <xs:element minOccurs="0" name="userID" type="xs:string"/>
          <xs:element minOccurs="0" name="hashedPassword" type="xs:string"/>
          <xs:element minOccurs="0" name="terminalID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userAuthenticateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:iss3UserSignOnDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="iss3UserSignOnDTO">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="accessibleLocs" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="controllerSysIDs" nillable="true" type="xs:string"/>
          <xs:element name="externalUser" type="xs:boolean"/>
          <xs:element minOccurs="0" name="forceLogoutTerm" type="xs:string"/>
          <xs:element minOccurs="0" name="immdToken" type="xs:string"/>
          <xs:element minOccurs="0" name="locID" type="xs:string"/>
          <xs:element name="needToDoLocationSignOn" type="xs:boolean"/>
          <xs:element minOccurs="0" name="passwordExpiryDateTime" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="posts" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="roleCDs" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="sysIDs" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="userEngName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCurrentlySignOnUserByLocId">
        <xs:sequence>
          <xs:element minOccurs="0" name="locID" type="xs:string"/>
          <xs:element minOccurs="0" name="isWithUserDetail" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCurrentlySignOnUserByLocIdResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userSimpleDetailDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userSimpleDetailDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="engName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="postName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="rank" type="xs:string"/>
          <xs:element minOccurs="0" name="userID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCurrentlySignOnUserByLocIdBySysId">
        <xs:sequence>
          <xs:element minOccurs="0" name="locID" type="xs:string"/>
          <xs:element minOccurs="0" name="sysID" type="xs:string"/>
          <xs:element minOccurs="0" name="isWithUserDetail" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="appUserInfoHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="callerActionCode" type="xs:string"/>
          <xs:element minOccurs="0" name="callerFuncID" type="xs:string"/>
          <xs:element minOccurs="0" name="hostName" type="xs:string"/>
          <xs:element minOccurs="0" name="locationID" type="xs:string"/>
          <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
          <xs:element minOccurs="0" name="systemID" type="xs:string"/>
          <xs:element minOccurs="0" name="terminalID" type="xs:string"/>
          <xs:element minOccurs="0" name="userID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCurrentlySignOnUserByLocIdBySysIdResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userSimpleDetailDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserListByRoleCdAndLocId">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="roleCds" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="locIDs" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserListByRoleCdAndLocIdResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userPwd"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userPwd">
        <xs:sequence>
          <xs:element minOccurs="0" name="hashedPassword" type="xs:string"/>
          <xs:element minOccurs="0" name="passwordExpiryDateTime" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="userID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userDetailEnquiry">
        <xs:sequence>
          <xs:element minOccurs="0" name="immdToken" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userDetailEnquiryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:iss3UserDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="iss3UserDTO">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="accessibleLocs" nillable="true" type="xs:string"/>
          <xs:element name="authorizedToDoLocationSignOn" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="controllerSysIDs" nillable="true" type="xs:string"/>
          <xs:element name="externalUser" type="xs:boolean"/>
          <xs:element minOccurs="0" name="locID" type="xs:string"/>
          <xs:element minOccurs="0" name="passwordExpiryDateTime" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="posts" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="roleCDs" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="sysIDs" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="termlID" type="xs:string"/>
          <xs:element minOccurs="0" name="userEngName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setSessionExpiry">
        <xs:sequence>
          <xs:element minOccurs="0" name="userID" type="xs:string"/>
          <xs:element minOccurs="0" name="immdToken" type="xs:string"/>
          <xs:element minOccurs="0" name="sessionExpiryDate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setSessionExpiryResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="invalidUserLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
          <xs:element minOccurs="0" name="errorMsg" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invalidUserLoginResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="forceLogout">
        <xs:sequence>
          <xs:element minOccurs="0" name="userID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forceLogoutResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:element name="appInfo" nillable="true" type="tns:appUserInfoHeader"/>
    </xs:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://immd.itifwk.util/v1" xmlns:tns="http://immd.itifwk.util/v1">
      <xsd:element name="ITISysException" type="tns:ITISysException"/>
      <xsd:complexType name="ITISysException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="forceLogoutByTerminal" type="xsd:string"/>
          <xsd:element minOccurs="0" name="errMsg" type="xsd:string"/>
          <xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="errCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ITIAppException" type="tns:ITIAppException"/>
      <xsd:complexType name="ITIAppException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="forceLogoutByTerminal" type="xsd:string"/>
          <xsd:element minOccurs="0" name="errMsg" type="xsd:string"/>
          <xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="errCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="forceLogoutResponse">
    <wsdl:part element="tns:forceLogoutResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="userDetailEnquiryResponse">
    <wsdl:part element="tns:userDetailEnquiryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserListByRoleCdAndLocId">
    <wsdl:part element="tns:getUserListByRoleCdAndLocId" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ITISysException">
    <wsdl:part element="ns1:ITISysException" name="ITISysException"/>
  </wsdl:message>
  <wsdl:message name="invalidUserLoginResponse">
    <wsdl:part element="tns:invalidUserLoginResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="setSessionExpiry">
    <wsdl:part element="tns:setSessionExpiry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCurrentlySignOnUserByLocIdBySysId">
    <wsdl:part element="tns:getCurrentlySignOnUserByLocIdBySysId" name="parameters"/>
    <wsdl:part element="tns:appInfo" name="appInfo"/>
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part element="tns:changePasswordResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="userAuthenticateResponse">
    <wsdl:part element="tns:userAuthenticateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCurrentlySignOnUserByLocIdBySysIdResponse">
    <wsdl:part element="tns:getCurrentlySignOnUserByLocIdBySysIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserListByRoleCdAndLocIdResponse">
    <wsdl:part element="tns:getUserListByRoleCdAndLocIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCurrentlySignOnUserByLocId">
    <wsdl:part element="tns:getCurrentlySignOnUserByLocId" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="userDetailEnquiry">
    <wsdl:part element="tns:userDetailEnquiry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ITIAppException">
    <wsdl:part element="ns1:ITIAppException" name="ITIAppException"/>
  </wsdl:message>
  <wsdl:message name="setSessionExpiryResponse">
    <wsdl:part element="tns:setSessionExpiryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="validateImmdToken">
    <wsdl:part element="tns:validateImmdToken" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="userAuthenticate">
    <wsdl:part element="tns:userAuthenticate" name="parameters"/>
    <wsdl:part element="tns:appInfo" name="appInfo"/>
  </wsdl:message>
  <wsdl:message name="validateImmdTokenResponse">
    <wsdl:part element="tns:validateImmdTokenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="forceLogout">
    <wsdl:part element="tns:forceLogout" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="changePassword">
    <wsdl:part element="tns:changePassword" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCurrentlySignOnUserByLocIdResponse">
    <wsdl:part element="tns:getCurrentlySignOnUserByLocIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="invalidUserLogin">
    <wsdl:part element="tns:invalidUserLogin" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="LDAPImmdUserServiceExtWS">
    <wsdl:operation name="validateImmdToken">
      <wsdl:input message="tns:validateImmdToken" name="validateImmdToken"/>
      <wsdl:output message="tns:validateImmdTokenResponse" name="validateImmdTokenResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePassword" name="changePassword"/>
      <wsdl:output message="tns:changePasswordResponse" name="changePasswordResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="userAuthenticate">
      <wsdl:input message="tns:userAuthenticate" name="userAuthenticate"/>
      <wsdl:output message="tns:userAuthenticateResponse" name="userAuthenticateResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="getCurrentlySignOnUserByLocId">
      <wsdl:input message="tns:getCurrentlySignOnUserByLocId" name="getCurrentlySignOnUserByLocId"/>
      <wsdl:output message="tns:getCurrentlySignOnUserByLocIdResponse" name="getCurrentlySignOnUserByLocIdResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="getCurrentlySignOnUserByLocIdBySysId">
      <wsdl:input message="tns:getCurrentlySignOnUserByLocIdBySysId" name="getCurrentlySignOnUserByLocIdBySysId"/>
      <wsdl:output message="tns:getCurrentlySignOnUserByLocIdBySysIdResponse" name="getCurrentlySignOnUserByLocIdBySysIdResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="getUserListByRoleCdAndLocId">
      <wsdl:input message="tns:getUserListByRoleCdAndLocId" name="getUserListByRoleCdAndLocId"/>
      <wsdl:output message="tns:getUserListByRoleCdAndLocIdResponse" name="getUserListByRoleCdAndLocIdResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="userDetailEnquiry">
      <wsdl:input message="tns:userDetailEnquiry" name="userDetailEnquiry"/>
      <wsdl:output message="tns:userDetailEnquiryResponse" name="userDetailEnquiryResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="setSessionExpiry">
      <wsdl:input message="tns:setSessionExpiry" name="setSessionExpiry"/>
      <wsdl:output message="tns:setSessionExpiryResponse" name="setSessionExpiryResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="invalidUserLogin">
      <wsdl:input message="tns:invalidUserLogin" name="invalidUserLogin"/>
      <wsdl:output message="tns:invalidUserLoginResponse" name="invalidUserLoginResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
    <wsdl:operation name="forceLogout">
      <wsdl:input message="tns:forceLogout" name="forceLogout"/>
      <wsdl:output message="tns:forceLogoutResponse" name="forceLogoutResponse"/>
      <wsdl:fault message="tns:ITIAppException" name="ITIAppException"/>
      <wsdl:fault message="tns:ITISysException" name="ITISysException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LDAPImmdUserServiceExtWSSoapBinding" type="tns:LDAPImmdUserServiceExtWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateImmdToken">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateImmdToken">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateImmdTokenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="changePassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserListByRoleCdAndLocId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserListByRoleCdAndLocId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserListByRoleCdAndLocIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCurrentlySignOnUserByLocIdBySysId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentlySignOnUserByLocIdBySysId">
        <soap:header message="tns:getCurrentlySignOnUserByLocIdBySysId" part="appInfo" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentlySignOnUserByLocIdBySysIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="userAuthenticate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="userAuthenticate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="userAuthenticateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCurrentlySignOnUserByLocId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentlySignOnUserByLocId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentlySignOnUserByLocIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setSessionExpiry">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setSessionExpiry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setSessionExpiryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="userDetailEnquiry">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="userDetailEnquiry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="userDetailEnquiryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invalidUserLogin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invalidUserLogin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invalidUserLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="forceLogout">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="forceLogout">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="forceLogoutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ITIAppException">
        <soap:fault name="ITIAppException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ITISysException">
        <soap:fault name="ITISysException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LDAPImmdUserServiceExtWS">
    <wsdl:port binding="tns:LDAPImmdUserServiceExtWSSoapBinding" name="LDAPImmdUserServiceExtWSImplPort">
      <soap:address location="https://upvdc1lvwb01h02.iss3dev.immd.hksarg:8443/war.upms.ws/services/buzz/ldapImmdUserServiceExtWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>